<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<meta charset="UTF-8">
<title>My App</title>
<link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbar SupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div style="display:flex">
              <li class="nav-item"><a class="btn btn-outline-primary" sec:authorize="hasAnyAuthority('ADMIN')" data-mdb-ripple-color="dark" type="button" aria-current="page" href="/">Trang chủ</a></li>
              <li class="nav-item"><a class="btn btn-outline-primary" data-mdb-ripple-color="dark" type="button" href="/books">Danh sách sách</a></li>
              <li class="nav-item"><a class="btn btn-outline-primary" sec:authorize="hasAnyAuthority('ADMIN')" data-mdb-ripple-color="dark" type="button" href="/categories">Danh mục sách</a></li>
              <li class="nav-item"><a class="btn btn-outline-primary" sec:authorize="hasAnyAuthority('ADMIN')" data-mdb-ripple-color="dark" type="button" href="/books/add">Thêm sách</a></li>
              <li class="nav-item"><a class="btn btn-outline-primary" sec:authorize="hasAnyAuthority('ADMIN')" data-mdb-ripple-color="dark" type="button" href="/categories/add">Thêm danh mục</a></li>
          </div>

<!--          <li sec:authorize="isAuthenticated()">-->
<!--            <form th:action="@{/logout}" method="post">-->
<!--              <button class="btn btn-outline-primary" type="submit">Đăng xuất</button>-->
<!--            </form>-->
<!--          </li>-->
<!--          <li sec:authorize="!isAuthenticated()">-->
<!--            <a href="/login" class="btn btn-outline-primary">Đăng nhập</a>-->
<!--          </li>-->

        </ul>
              <div class="d-flex input-group w-auto my-auto mb-3 mb-md-0" style="display:flex">
                  <div class="nav-item d-flex align-items-center" sec:authorize="isAuthenticated()">
                        <span class="navbar-text">
                            Xin chào, <span sec:authentication="userName" style="margin-right: 20px;"></span>
                        </span>
                  </div>
                  <div class="nav-item" sec:authorize="isAuthenticated()">
                      <form th:action="@{/logout}" method="post">
                          <button class="btn btn-outline-primary me-1 px-2" type="submit">Logout</button>
                      </form>
                  </div>

              </div>
          <div class="col-lg-5 d-flex justify-content-center justify-content-md-end align-items-center" sec:authorize="!isAuthenticated()">
              <a class="btn btn-outline-primary me-1 px-2" href="/login">Login</a>
          </div>
      </div>
    </div>
  </nav>
</header>
<div th:insert="~{::${content}}">
  <!-- NỘI DUNG TRANG CON--->
</div>
<footer th:fragment="footer">
  <script th:src="@{/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>